*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/buildSrc
.externalNativeBuild
.cxx
local.properties
iosApp/Podfile.lock
iosApp/Pods/
iosApp/iosApp.xcworkspace/
/.kotlin/
/supabase/
