<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.softov.morestuff.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--  Allow the app to disable battery optimizations  -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="co.softov.morestuff.androidApp.MsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="co.softov.morestuff.androidApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="co.softov.morestuff.androidApp.app.service.ScheduleService"
            android:exported="false" />

        <service
            android:name="co.softov.morestuff.androidApp.app.service.BootService"
            android:exported="false" />

        <service
            android:name="co.softov.morestuff.androidApp.app.service.NotificationService"
            android:exported="false" />

        <receiver
            android:name="co.softov.morestuff.androidApp.app.receiver.ScheduleReceiver"
            android:exported="false" />

        <receiver
            android:name="co.softov.morestuff.androidApp.app.receiver.NotificationReceiver"
            android:exported="false" />

        <receiver android:name="co.softov.morestuff.androidApp.app.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>