<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>io.middlepoint.morestuff</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>morestuff</string>
          <string>app.morestuff</string>
          <string>com.googleusercontent.apps.895634462091-qr6urlar6kjek2q0k3s7m1ctse48vgpf</string>
        </array>
      </dict>
    </array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to the microphone to capture your voice for speech recognition.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gallery permission is required to pick images</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to speech recognition to convert your speech to text.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Request permission to post notifications</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
    
    <key>NSMicrophoneUsageDescription</key>
      <string>We need access to the microphone to capture your voice for speech recognition.</string>

      <key>NSPhotoLibraryUsageDescription</key>
          <string>We need access to your photo library to select images.</string>
          <key>NSCameraUsageDescription</key>
          <string>Camera permission is required to take pictures</string>

      <key>NSSpeechRecognitionUsageDescription</key>
      <string>We need access to speech recognition to convert your speech to text.</string>

      <key>NSUserNotificationsUsageDescription</key>
      <string>Request permission to post notifications</string>

      <key>NSContactsUsageDescription</key>
      <string>We need access to contacts to enhance the user experience and enable personalized interactions.</string>

      <key>NSLocationWhenInUseUsageDescription</key>
      <string>This app requires access to your location to display relevant information based on your location.</string>

      <key>NSBluetoothAlwaysUsageDescription</key>
      <string>Access to Bluetooth is required to connect with compatible devices and improve app functionality.</string>

<key>BGTaskSchedulerPermittedIdentifiers</key>
<array>
    <string>io.middlepoint.morestuff.backgroundTask</string>
</array>

	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
